link(rel="stylesheet", href="css/navbar.css")

nav.top-bar
        .container 
            a.logo(href="#")
                img(src="assets/logo.svg", alt="Logo")   
            button.btn-toggle(data-button-toggle="link")
                span
            ul.menu(data-toggle="link")
                li.menu-item
                    a.link(href="#") Posts  
                li.menu-item
                    a.link(href="#") Referências
                li.menu-item
                    a.link(href="#") Contato    
        

