nav.top-bar
    a.logo(href="#")
        img(src="assets/logo.svg", alt="")
    button.btn-toggle(data-button-toggle="link")
        span
    ul.links(data-toggle="link")
        li 
            a(href="#") ARTIGOS
        li 
            a(href="#") REFERÊNCIAS 
        li 
            a(href="#") CONTATO