link(rel="stylesheet", href="css/navbar.css")

nav.top-bar
        .container 
            a.logo(href="/")
                img(src="assets/logo-branco.svg", alt="Logo")   
            button.btn-toggle(data-button-toggle="link")
                span
            ul.menu(data-toggle="link")
                li.menu-item
                    a.link(href="/") Post  
                li.menu-item
                    a.link(href="https://drive.google.com/file/d/11c0k7n7-2oriC3zQGk0BNy3NhThg8uNO/view?usp=sharing") Referências
        

