doctype html 
html(lang="pt-BR")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title IPD
        link(rel="stylesheet", href="./index.css")
    body 
        nav.top-bar
            a.logo(href="#")
                img(src="./logo.svg", alt="")
            button.btn-toggle(data-button-toggle="link")
                span
            ul.links(data-toggle="link")
                li 
                    a(href="#") ARTIGOS
                li 
                    a(href="#") REFERÊNCIAS 
                li 
                    a(href="#") CONTATO
        
        section.artigo
            h1.titulo Como a geometria chegou a Grécia?
            h5.data 19 de junho de 2022
            div.img
            p A historia da geometria na grécia começa com A historia da geometria na grécia começa com A historia da geometria na grécia começa com A historia da geometria na grécia começa com

        script(src="index.js") 